{% extends "base.html" %}
{% load django_vite %}
{% block content %}

<a href="{% url 'manager:student_list' %}">Students</a>
<a href="{% url 'manager:student_create' %}">Add Student</a><br>
<a href="{% url 'manager:course_list' %}">Courses</a>
<a href="{% url 'manager:course_create' %}">Add Course</a><br>

 {% comment %} <form method="post">{% csrf_token %}
  {{ form.as_p }}
  <input type = "submit" value = "Save">
</form>  {% endcomment %}

<div id="app">
  <app></app>
</div>

{% endblock content %}
{% block js %}
  {{ block.super }}

  <script>
 var ext_csrf_token = '{{ csrf_token }}'
    var ext_django_form = `{{ form.as_p | safe }}`
    var ext_form = `{{ form.as_p | safe}}`
    var ext_course_dict = {{ course_dict | safe }}
    var ext_student_list = {{ student_list | safe }}
    {% comment %} var ext_update_bis_url = '{% url 'movies:movie_update_bis' object.id %}' {% endcomment %}
  </script> 

  {% vite_hmr_client %}
  {% vite_asset 'src/apps/course_edit/course_edit.js' %}
{% endblock js %}