{% extends "base.html" %}

{% load django_vite %}

{% block content %}

    <div id="app">
        <app></app>
    </div>

{% endblock content %}

{% block js %}
    {{ block.super }} 
    <script>
        var ext_course_id = {{ course_id }}
        var ext_course_list_url = '{% url 'manager:course_list' %}'
        var ext_course_detail_js_url = '{% url 'manager:course_detail_js' course_id %}'
        var ext_course_update_url = '{% url 'manager:course_update_bis' course_id %}'
        var ext_course_delete_url = '{% url 'manager:course_delete' course_id %}'
    </script>
    {% vite_hmr_client %}
    {% vite_asset 'src/apps/course_detail/course_detail.js' %} 
{% endblock js %}