{% extends "base.html" %}
{% load django_vite %}
{% block content %}

    <div id="app">
        <app>This is the student detail page</app>
    </div>

{% endblock content %}
{% block js %}
{{ block.super }}
    <script>
        {% comment %} 
        Where the variables will go
        var ext_movie_id = {{ movie_id }}
        var ext_movie_detail_js_url = '{% url 'movies:movie_detail_js' movie_id %}'
        var ext_movie_list_url = '{% url 'movies:movie_list' movie_id %}' 
        var ext_movie_update_url = '{% url 'movies:movie_update_bis' movie_id %}'
        var ext_movie_delete_url = '{% url 'movies:movie_delete' movie_id %}' 
        {% endcomment %}
    </script>
{% vite_asset 'src/apps/movie_show/movie_show.js' %}
{% endblock js %}