{% extends "base.html" %}

{% load django_vite %}

{% block content %}

    <div id="app">
        <app></app>
    </div>

{% endblock content %}

{% block js %}
    {{ block.super }} 
    <script>
        var ext_student_id = {{ student_id }}
        var ext_student_list_url = '{% url 'manager:student_list' %}'
        var ext_student_detail_js_url = '{% url 'manager:student_detail_js' student_id %}'
        var ext_student_update_url = '{% url 'manager:student_update' student_id %}'
        var ext_student_delete_url = '{% url 'manager:student_delete' student_id %}'
    </script>
    {% vite_hmr_client %}
    {% vite_asset 'src/apps/student_get/student_get.js' %} 
{% endblock js %}