{% extends "base.html" %}
{% load django_vite %}
{% block content %}

<a href="{% url 'manager:student_list' %}">Students</a>
<a href="{% url 'manager:student_create' %}">Add Student</a><br>
<a href="{% url 'manager:course_list' %}">Courses</a>
<a href="{% url 'manager:course_create' %}">Add Course</a><br>
<a href="{% url 'manager:student_delete' object.id %}">Delete Student</a><br />
<a href="{% url 'manager:student_update' object.id %}">Update Student</a><br />

    <div id="app">
        <app></app>
    </div>

    <h1>{{ object.name }}</h1>
    OSIS: {{object.osis}}<br />
    Grade: {{object.grade}}<br />
    GPA: {{object.gpa}}<br />

{% endblock content %}