{% extends "base.html" %}

{% load django_vite %}

{% block content %}

<a href="{% url 'manager:student_list' %}">Students</a>
<a href="{% url 'manager:student_create' %}">Add Student</a><br>
<a href="{% url 'manager:course_list' %}">Courses</a>
<a href="{% url 'manager:course_create' %}">Add Course</a><br>

<br />
<div id="app">
    <app></app>
</div>

{% comment %} <form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save">
</form> {% endcomment %}

{% comment %} <div v-if="form_updated">
	{{ form_updated }}
</div> {% endcomment %}

{% endblock content %}

{% block js %}
    {{ block.super }} 
    <script>
        var ext_csrf_token = '{{ csrf_token }}'
        var ext_django_form = `{{ form.as_p | safe }}`
        var ext_student_dico = {{ student_dico | safe }} 
    </script>
    {% vite_hmr_client %}
    {% vite_asset 'src/apps/student_post/student_post.js' %} 
{% endblock js %}
